name: build/tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci-all:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v4
        with:
          # Disabling shallow clones is recommended for improving the relevancy of reporting(from SonarQube docs)
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check code
        run: |
          npm ci
          npm run ci:all

      # Read more details about the SonarQube setup here:
      # https://docs.sonarsource.com/sonarqube-server/latest/analyzing-source-code/test-coverage/javascript-typescript-test-coverage/
      - name: SonarQube Scan
        if: ${{ startsWith(matrix.node-version, '20.') }} # send coverage only once
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
